@keyframes scale-in-hor-right {
    0% {
      transform: scaleX(0);
      transform-origin: 100% 100%;
      opacity: 1;
    }
    100% {
      transform: scaleX(1);
      transform-origin: 100% 100%;
      opacity: 1;
    }
}

@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(0.5rem);
  }
  75% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}