$colour-primary: #9356DC;
$colour-secondary: #99E2D0;
$colour-background-1: #EAEAEA;
$colour-background-2: #F6F6F6;
$colour-background-dark: #353535;
$colour-btn-new-text: #008766;
$colour-btn-linear: linear-gradient(to bottom, #FF79DA, #9356DC); 

