.header {
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    position: relative;
    z-index: auto;
    &__logo {
        width: 80%;
        width: 162px;
        margin-top: 14px;
        margin-bottom: 5px;
    }
    &__feedback {
        color: black;
        text-align: left;
        position: absolute;
        left: 23px;
        top: 40%;
    }
}