.stage {
    @include center-elements;
    &__items {
    text-align: center;
    align-items: center;
    display: flex;
    width: 90%;
    max-width: 322.49px;
    height: 72.38px;
    background: $colour-background-2;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    margin-bottom: 25px;
    margin-left: 2%;
    gap: 23px;
    transition: 300ms;
    opacity: 1;
    &:hover {
        opacity: 0.8;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.50);
        .fa-mobile-alt {
            color: $colour-primary;
            transition: 300ms;
        }
        .fa-list {
            color: $colour-primary;
            transition: 300ms; 
        }
        .fa-store {
            color: $colour-primary;
            transition: 300ms; 
        }
    }

    }
    &__nb-stage {
        @include center-elements;
        margin-left: -10px;
        color: white;
        width: 24px;
        height: 24px;
        left: 20px;
        top: 531.86px;
        background: $colour-primary;
        transition: 300ms;
        border-radius: 50%;
    }

    @media (min-width: $desktop) {
        display: flex;
        margin: 0 15% 0 14%;
        justify-content: space-between;
        gap: 0px;
        flex-direction: inherit;
    }
}

.card {
    @include center-elements;
    @media (min-width: $desktop) {
        gap: 5% 5%;
        grid-template-columns: repeat(2, 45%);
        margin: 0 15% 0 15%;
        justify-content: space-between;
    }
    &__items {
    position: relative;
    height: 251px;
    width: 90%;
    max-width: 340px;
    left: 0px;
    top: 0px;
    border-radius: 15px;
    margin-bottom: 18px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    opacity: 1;
    transition: 300ms;
    &:hover {
        opacity: 0.8;
        box-shadow: 0px 4px 15px rgb(0 0 0 / 30%);
    }
    @media (min-width: $desktop) {
        width: 100%;
        max-width: 490px;
    }
    }
    &__img {
        object-fit: cover; 
        overflow: hidden;
        width: 100%;
        height: 175px;
        border-radius: 15px 15px 0 0;
    }
    &__content {
        display: flex;
        justify-content: space-around;
        gap: 30%;
        margin: 2% 2% 2% 2%;
        color: black;
    }
    &__title {
        font-size: 18px;
        font-weight: 700;
    }
    &__subtitle {
        font-size: 17px;
        font-weight: 300;
    }
    &__new {
        @include center-elements;
        color: $colour-btn-new-text;
        width: 80px;
        height: 29px;
        background: $colour-secondary;
        border-radius: 2px;
        position: absolute;
        top: 12px;
        right: 15px;
    }
    .fa-heart {
        font-size: 22px;
        transition: 300ms;
        &:hover {
            color: $colour-primary;
        }
        &:active {
            color: $colour-primary;
        }
    }
    @media (min-width: $desktop) {
        display: grid;
    }
}