body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
}

@font-face {
    font-family: 'shrikhand';
    src: url('fonts/Shrikhand-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }