.locality {
    background: $colour-background-1;
    height: 50px;
    @include center-elements;
    &__items {
        input {
            text-align: center;
            border: none;
            background: $colour-background-1;
            }
    }
}

.quote {
    text-align: center;
    padding: 39.5px 34px 57px 34px;
    background: $colour-background-2;
}

.tuto {
    @include center-elements;
    padding: 0 20px 0 20px;
}

.restorant-list {
    @include center-elements;
}